<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ausweis - FabLab Altmühlfranken{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        {% block stylesheets %}
            <style>
                body { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
            </style>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% if app.current_route !== 'hwi_oauth_connect' %}
            <nav>
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('images/logo.png') }}">
                    Ausweis
                </a>

                {% if is_granted('IS_AUTHENTICATED') %}
                    {% if app.user.isAdmin %}
                        <a href="{{ path('list_card_orders') }}">Ausweisanträge</a>
                    {% endif %}

                    <a href="{{ logout_path() }}">Ausloggen</a>
                {% endif %}
            </nav>

            <hr>
        {% endif %}

        {% for label, messages in app.flashes(['success', 'info', 'error']) %}
            {% for message in messages %}
                <p class="flash-{{ label }}">
                    {{ message|raw }}
                </p>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
